@font-face {
    font-family: 'parcial_font';
    src: url('myfont.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
     url('./img/Satisfy-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  }

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.banner {
  background-color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100px;
  border-bottom: 1px solid rgb(224, 222, 222);
}

.banner .logo .h5 {
  text-align: center;
  color: black;
  font-family: "parcial_font"; 
  font-weight: 400;
  font-size: 40px; 
  font-style: normal;
}

.banner .carrito
{
  display: flex;
  align-content: flex-end;
  align-content: flex-end;
  align-items: flex-end;

}

.banner .carrito .p
{
  padding-left: 15px;
  position: center;
}


.main .division{
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(224, 222, 222);
}

.main .imagen_negocio {
  display: flex;
  justify-content: center;
  align-content: center;
}

.main .imagen_negocio img {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 400px;
}

.main .nav
{
  background-color: #343a42;
  display: flex;
  align-content: center;
  height: 100px;
}

.main .nav .btn
{
color: rgb(226, 223, 223);
padding-left: 40px;
}

.main .tipo_actual {
  display: flex;
  justify-content: center;
  align-content: center;
}

.main .detalle_comidas
{
  padding-top: 20px;
}

.main .detalle_comidas .card
{
  padding-top: 20px;
}

.main .detalle_comidas .card .price
{
  font-weight: bold;
}

.main .detalle_comidas .card .btn
{
  background-color: #343a42;
  border-color: #343a42;
  color: #e2e4e5;
}

.footer {
  background-color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100px;
}

.footer .text {
  text-align: center;
  color: #343a42;
  font-size: 12px;
  font-weight: bold;
}