@font-face {
    font-family: 'parcial_font';
    src: url('./img/Satisfy-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  }

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.banner {
  background-color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100px;
  border-bottom: 1px solid rgb(224, 222, 222);
}

.banner .logo {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
  height: 100px;
}

.banner .logo .h5 {
  color: black;
  font-family: "parcial_font"; 
  font-weight: 400;
  font-size: 40px; 
  font-style: normal;
}

.banner .carrito
{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.banner .carrito .p
{
  padding-left: 15px;
}


.main .division{
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(224, 222, 222);
}

.main .imagen_negocio {
  display: flex;
  justify-content: center;
  align-content: center;
}

.main .imagen_negocio img {
  height: 400px;
}

.main .nav
{
  background-color: #343a42;
  display: flex;
  align-content: center;
  height: 100px;
}

.main .nav .btn
{
color: rgb(226, 223, 223);
padding-left: 40px;
}

.main .tipo_actual {
  display: flex;
  justify-content: center;
  align-content: center;
}

.main .detalle_comidas
{
  padding-top: 20px;
}

.main .detalle_comidas .card
{
  float: left;
  margin: 12px;
  width: 17rem;
  height: 33rem;
}

.main .detalle_comidas .card img
{
  height: 160px;
  width: 270px;
}

.main .detalle_comidas .card .price
{
  font-weight: bold;
}

.main .detalle_comidas .card .btn
{
  background-color: #343a42;
  border-color: #343a42;
  color: #e2e4e5;
}

.main .detalle_carrito .opciones_usuario
{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 85px;
}

.main .detalle_carrito .opciones_usuario .btn
{
  display: flex;
}

.main .detalle_carrito .total_carrito
{
  font-weight: bold;
  color: black;
}

.btn_cancel
{
  background-color:#f7575a;
  border-color: green;
  color: black;
}

.btn_confirm
{
  background-color: #f2e9de;
  border-color: black;
  color: black;
}

.footer {
  background-color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100px;
}

.footer .text {
  text-align: center;
  color: #343a42;
  font-size: 12px;
  font-weight: bold;
}

.divider{
  padding-left: 5px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}